<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="title">
  {{ data.opeLineaMaritima?.id ? 'Modificar' : 'Crear' }} Línea Marítima
</h2>

<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
      <!-- Puerto Origen -->
      <!--
      <mat-form-field appearance="outline" fxFlex="25" class="mb-3">
        <mat-label>Origen</mat-label>
        <mat-select [formControl]="getForm('opePuertoOrigen')" (selectionChange)="onChangePuerto($event)">
          <mat-option *ngFor="let option of opePuertosOrigen()" [value]="option.id">
            {{ option.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formData.get('opePuertoOrigen')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>
    -->

      <!-- OPE Puerto Origen -->
      <mat-form-field appearance="outline" fxFlex="25" class="mb-3">
        <mat-label>Origen</mat-label>
        <input type="text" matInput [formControl]="getForm('opePuertoOrigen')" [matAutocomplete]="autoOpePuertoOrigen" />
        <mat-autocomplete #autoOpePuertoOrigen="matAutocomplete" [displayWith]="displayFnOrigen" (optionSelected)="onChangePuerto($event)">
          <mat-option *ngFor="let option of opePuertosOrigenFiltrados()" [value]="option.id">
            {{ option.nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formData.get('opePuertoOrigen')?.hasError('required')">Este campo es obligatorio.</mat-error>
        <mat-error *ngIf="formData.get('opePuertoOrigen')?.hasError('invalidOption')">Debe seleccionar un puerto válido de la lista</mat-error>
      </mat-form-field>

      <!-- Puerto Destino -->
      <!--
      <mat-form-field appearance="outline" fxFlex="25" class="mb-3">
        <mat-label>Destino</mat-label>
        <mat-select [formControl]="getForm('opePuertoDestino')" (selectionChange)="onChangePuerto($event)">
          <mat-option *ngFor="let option of opePuertosDestino()" [value]="option.id">
            {{ option.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formData.get('opePuertoDestino')?.hasError('required')">Este campo es obligatorio.</mat-error>
        <mat-error *ngIf="formData.hasError('opePuertosOrigenDestinoIguales')">El puerto de origen y destino no pueden ser iguales.</mat-error>
      </mat-form-field>
    -->

      <!-- OPE Puerto Destino -->
      <mat-form-field appearance="outline" fxFlex="25" class="mb-3">
        <mat-label>Destino</mat-label>
        <input type="text" matInput [formControl]="getForm('opePuertoDestino')" [matAutocomplete]="autoOpePuertoDestino" />
        <mat-autocomplete #autoOpePuertoDestino="matAutocomplete" [displayWith]="displayFnDestino" (optionSelected)="onChangePuerto($event)">
          <mat-option *ngFor="let option of opePuertosDestinoFiltrados()" [value]="option.id">
            {{ option.nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formData.get('opePuertoDestino')?.hasError('required')">Este campo es obligatorio.</mat-error>
        <mat-error *ngIf="formData.get('opePuertoDestino')?.hasError('invalidOption')">Debe seleccionar un puerto válido de la lista</mat-error>
        <mat-error *ngIf="formData.hasError('opePuertosOrigenDestinoIguales')">El puerto de origen y destino no pueden ser iguales.</mat-error>
      </mat-form-field>

      <!-- Nombre -->
      <mat-form-field appearance="outline" fxFlex="50" class="mb-3">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre de la línea marítima" formControlName="nombre" />
        <mat-error *ngIf="formData.get('nombre')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
      <!-- Fase -->
      <mat-form-field appearance="outline" fxFlex="20" class="mb-3">
        <mat-label>Fase</mat-label>
        <mat-select [formControl]="getForm('opeFase')">
          <mat-option *ngFor="let option of opeFases()" [value]="option.id">
            {{ option.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formData.get('opeFase')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <!-- Fecha validez desde -->
      <mat-form-field appearance="outline" fxFlex="40" class="mb-3">
        <mat-label>Operatividad desde</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFechaValidezDesde"
          [formControl]="getForm('fechaValidezDesde')"
          [min]="fechaMinimaDatePicker"
          [max]="fechaMaximaDatePicker"
          (dateChange)="onFechaChange($event)"
          (input)="onFechaChangeManual($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerFechaValidezDesde"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaValidezDesde></mat-datepicker>
        <mat-error *ngIf="formData.get('fechaValidezDesde')?.hasError('required')">Este campo es obligatorio.</mat-error>
        <mat-error *ngIf="formData.get('fechaValidezDesde')?.hasError('fechaInvalida')">El valor de la fecha no es válido.</mat-error>
      </mat-form-field>

      <!-- Fecha validez hasta -->
      <mat-form-field appearance="outline" fxFlex="40" class="mb-3">
        <mat-label>Operatividad hasta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerFechaValidezHasta"
          [formControl]="getForm('fechaValidezHasta')"
          [min]="fechaMinimaDatePicker"
          [max]="fechaMaximaDatePicker"
          (dateChange)="onFechaChange($event)"
          (input)="onFechaChangeManual($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="pickerFechaValidezHasta"></mat-datepicker-toggle>
        <mat-datepicker #pickerFechaValidezHasta></mat-datepicker>
        <mat-error *ngIf="formData.get('fechaValidezHasta')?.hasError('fechaInvalida')">El valor de la fecha no es válido.</mat-error>
        <mat-error *ngIf="formData.get('fechaValidezHasta')?.hasError('fechaFinInvalida')">
          La fecha de fin debe ser posterior a la fecha de inicio.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <h3 class="titulo-valores-medios">Valores medios de embarque</h3>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch" class="filter-container">
        <!-- Nº de rotaciones -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="mb-3">
          <mat-label>Nº rotaciones</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroRotaciones')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroRotaciones'))"
            min="0"
            max="9999999"
            step="1"
          />
          <mat-error *ngIf="formData.get('numeroRotaciones')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroRotaciones')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>

        <!-- Nº de pasajeros -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="mb-3">
          <mat-label>Nº pasajeros</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroPasajeros')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroPasajeros'))"
            min="0"
            max="9999999"
            step="1"
          />
          <mat-error *ngIf="formData.get('numeroPasajeros')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroPasajeros')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
          <mat-error *ngIf="formData.get('numeroPasajeros')?.hasError('numeroPasajerosMenorQueVehiculos')">
            Nº pasajeros debe ser mayor que nº total vehículos.
          </mat-error>
        </mat-form-field>

        <!-- Nº de turismos -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="input mb-3">
          <mat-label>Nº turismos</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroTurismos')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroTurismos')); onChangeNumeroVehiculos($event)"
            min="0"
            max="9999999"
            step="1"
          />
          <mat-error *ngIf="formData.get('numeroTurismos')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroTurismos')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>

        <!-- Nº de autocares -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="input mb-3">
          <mat-label>Nº autocares</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroAutocares')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroAutocares')); onChangeNumeroVehiculos($event)"
            min="0"
            max="9999999"
            step="1"
          />
          <mat-error *ngIf="formData.get('numeroAutocares')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroAutocares')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>

        <!-- Nº de camiones -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="input mb-3">
          <mat-label>Nº camiones</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroCamiones')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroCamiones')); onChangeNumeroVehiculos($event)"
            min="0"
            max="9999999"
            step="1"
          />
          <mat-error *ngIf="formData.get('numeroCamiones')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroCamiones')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>

        <!-- Nº total de vehículos -->
        <!--
        <mat-form-field
          class="input"
          appearance="outline"
          fxFlex="20"
          class="input mb-3 numeroTotalVehiculos-field"
          [ngClass]="{ campoDesactivado: !!data.opeLineaMaritima?.id }"
        >
          <mat-label>Nº total vehículos</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroTotalVehiculos')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6)"
            min="0"
            max="9999999"
            step="1"
            [readonly]="!!data.opeLineaMaritima?.id"
          />
          <mat-error *ngIf="formData.get('numeroTotalVehiculos')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroTotalVehiculos')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>
        -->

        <!-- Nº total de vehículos -->
        <mat-form-field class="input" appearance="outline" fxFlex="20" class="input mb-3 numeroTotalVehiculos-field campoDesactivado">
          <mat-label>Nº total vehículos</mat-label>
          <input
            matInput
            [formControl]="getForm('numeroTotalVehiculos')"
            type="number"
            (keypress)="utilsService.allowOnlyNumbers($event)"
            (input)="utilsService.enforceMaxLength($event, 6, getForm('numeroTotalVehiculos'))"
            min="0"
            max="9999999"
            step="1"
            readonly
          />
          <mat-error *ngIf="formData.get('numeroTotalVehiculos')?.hasError('min')">El valor no puede ser menor que 0</mat-error>
          <mat-error *ngIf="formData.get('numeroTotalVehiculos')?.hasError('max')">El valor no puede ser mayor que 9.999.999</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <!--
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" style="width: 100%" class="button-container">

    <button mat-raised-button (click)="closeModal()" color="primary" aria-label="Buscar" class="custom-button" type="button">Cancelar</button>

    <button mat-flat-button color="primary" type="submit" aria-label="Guardar" class="custom-button">Guardar</button>
  </mat-dialog-actions>
  -->
  <!-- PIE CON AUDITORIA -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" style="width: 100%" class="button-container">
    <!-- Info auditoría si hay datos completos -->
    <div fxFlex="50" class="audit-info" style="text-align: left">
      <div *ngIf="data.opeLineaMaritima?.creadoPor && data.opeLineaMaritima?.fechaCreacion">
        <b>Alta:</b>
        {{ data.opeLineaMaritima.creadoPor }} con fecha {{ getFechaFormateadaConHorasMinutosYSegundos(data.opeLineaMaritima.fechaCreacion) }}
      </div>
      <div *ngIf="data.opeLineaMaritima?.modificadoPor && data.opeLineaMaritima?.fechaModificacion">
        <b>Última modificación:</b>
        {{ data.opeLineaMaritima.modificadoPor }} con fecha {{ getFechaFormateadaConHorasMinutosYSegundos(data.opeLineaMaritima.fechaModificacion) }}
      </div>
    </div>

    <!-- Flex vacío que ocupa espacio y empuja botones a la derecha -->
    <div fxFlex></div>

    <!-- Botones -->
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button (click)="closeModal()" color="primary" aria-label="Buscar" class="custom-button" type="button">Cancelar</button>
      <button mat-flat-button color="primary" type="submit" aria-label="Guardar" class="custom-button">Guardar</button>
    </div>
  </mat-dialog-actions>
  <!-- FIN PIE CON AUDITORIA-->
</form>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white">Cargando...</p>
</ngx-spinner>
