<div [formGroup]="formData">
  <!-- Primera fila con campos comunes - mostrar solo si no se debe omitir -->
  <div *ngIf="!skipFirstFields" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
    <mat-form-field appearance="outline" fxFlex="33" class="mb-3">
      <mat-label>Clase de suceso</mat-label>
      <mat-select formControlName="classEvent">
        <mat-option *ngFor="let option of listClassEvent()" [value]="option.id">{{ option.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="formData.get('classEvent')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="33" class="mb-3">
      <mat-label>Seguimiento</mat-label>
      <mat-select formControlName="eventStatus">
        <mat-option *ngFor="let option of listEventStatus()" [value]="option.id">{{ option.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="formData.get('eventStatus')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="33" class="mb-3">
      <mat-label>Fecha de inicio</mat-label>
      <input
        matInput
        type="datetime-local"
        formControlName="startDateTime"
        [min]="fechaMinimaDateTime"
        [max]="fechaMaximaDateTime"
      />
      <mat-error *ngIf="formData.get('startDateTime')?.hasError('required')">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="formData.get('startDateTime')?.hasError('fechaPosteriorHoy') && 
                        !formData.get('startDateTime')?.hasError('fechaInvalida')">
        La fecha no puede ser posterior a hoy.
      </mat-error>
      <mat-error *ngIf="formData.get('startDateTime')?.hasError('fechaInvalida')">
        Fecha inválida.
      </mat-error>
    </mat-form-field>
  </div>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
      <mat-form-field appearance="outline" fxFlex="50" class="mb-3">
        <mat-label>Provincia</mat-label>
        <input
          matInput
          formControlName="province"
          [matAutocomplete]="autoProvince"
          placeholder="Buscar provincia..."
        />
        <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayProvince">
          <mat-option *ngFor="let province of provincefilteredOptions | async" [value]="province">
            {{ province.descripcion }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formData.get('province')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="50" class="mb-3">
        <mat-label>Municipio</mat-label>
        <input
          matInput
          formControlName="municipality"
          [matAutocomplete]="autoMunicipality"
          placeholder="Buscar municipio..."
        />
        <mat-autocomplete #autoMunicipality="matAutocomplete" [displayWith]="displayMunicipality">
          <mat-option *ngFor="let municipality of municipalityfilteredOptions | async" [value]="municipality">
            {{ municipality.descripcion }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formData.get('municipality')?.hasError('required')">Este campo es obligatorio.</mat-error>
      </mat-form-field>

      <img
        (click)="openModalMap()"
        matSuffix
        src="/assets/img/location-btn.svg"
        alt="location-btn"
        class="pin-location"
        appTooltip="Mapa de ubicación"
      />
    </div>
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">

    <mat-form-field appearance="outline" fxFlex="100" class="mb-3">
      <mat-label>Denominación</mat-label>
      <input matInput formControlName="denomination" placeholder="Denominación" />
      <mat-error *ngIf="formData.get('denomination')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>
  </div> 
 
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="filter-container">
    <mat-form-field appearance="outline" fxFlex="100" class="mb-3">
      <mat-label>Nota general</mat-label>
      <textarea matInput formControlName="generalNote" rows="3"></textarea>
      <mat-error *ngIf="formData.get('generalNote')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>
  </div>
   
</div> 