<div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">

  <mat-form-field class="input full-width-input" appearance="outline" fxFlex="50%">
    <mat-label>Titular del medio</mat-label>
    <input matInput [formControl]="getForm('TitularMedio3')" placeholder="Ingresa texto" />
  </mat-form-field>

  <mat-checkbox style="padding-bottom: 20px;" fxFlex="30%" [formControl]="getForm('GestionCECOD')">Gestión por
    CECOD</mat-checkbox>

  <mat-form-field appearance="outline" fxFlex="20%" class="mb-3">
    <mat-label>Fecha / hora del ofrecimiento </mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="getForm('FechaHoraOfrecimiento')" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formGroup.get('FechaHoraOfrecimiento')?.hasError('required')">Este campo es
      obligatorio.</mat-error>
  </mat-form-field>
</div>

<div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
  <mat-form-field class="input full-width-input" appearance="outline" fxFlex="80%">
    <mat-label>Descripción del ofrecimiento</mat-label>
    <input matInput [formControl]="getForm('Descripcion3')" placeholder="Ingresa texto" />
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="20%" class="mb-3">
    <mat-label>Fecha / hora de disponibilidad</mat-label>
    <input matInput [matDatepicker]="picker2" [formControl]="getForm('FechaHoraDisponibilidad')" />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    <mat-error *ngIf="formGroup.get('FechaHoraDisponibilidad')?.hasError('required')">Este campo es
      obligatorio.</mat-error>
  </mat-form-field>


</div>

<div class="row" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
  <mat-form-field class="input full-width-input" appearance="outline" fxFlex="100%">
    <mat-label>Observaciones</mat-label>
    <input matInput [formControl]="getForm('Observaciones3')" placeholder="Ingresa texto" />
  </mat-form-field>
</div>