@use '../../../../../../../styles.scss' as theme;

.title {
  color: var(--title-color-green);
  text-align: center;
}

.form-container {
  flex: 1;
  border-radius: 20px;
  padding: 20px;
}

.submit-button {
  margin-top: 24px;
  align-self: flex-start;
}

.button-container {
  margin-top: 16px;
}

.custom-button {
  font-size: 16px;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

mat-icon {
  font-size: 24px;
}

.mb-3 {
  margin-bottom: 12px;
}

.pin-location {
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal-footer {
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.j-end {
  justify-content: flex-end;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-mdc-row:nth-child(odd) {
  background: #e7e7e7;
}

//
.fronteras-relacionadas {
  display: inline-block; /* Hace que el h2 se comporte como un bloque en línea */
  background-color: #3f51b5; /* Color de fondo de la pestaña */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno para darle altura y ancho a la pestaña */
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
  font-size: 12px; /* Ajuste el tamaño de la fuente */
  font-weight: bold; /* Pone la fuente en negrita */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

.datoFronteraActivo {
  background-color: lightblue; /* O el color que desees */
  font-weight: bold;
}

// test
::ng-deep .afluencia-field .mat-mdc-text-field-wrapper {
  background-color: lightgray;
  pointer-events: none;
}

::ng-deep .afluencia-field .mdc-floating-label {
  background-color: lightgray;
}
