@use '../../../../../../../styles.scss' as theme;

.mat-mdc-row:nth-child(odd) {
  background: #e7e7e7;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.spinner {
  margin-left: 50%;
}

.imagenBandera {
  width: 1.5rem;
}
