.w-100 {
  width: 100% !important;
}

:host {
  display: block;
  width: 100%;
}

::ng-deep {
  .multi-select-container {
    width: 100% !important;
    
    .mat-mdc-form-field {
      width: 100% !important;
    }
    
    .mat-mdc-chip-grid {
      width: 100% !important;
    }
    
    input {
      width: 100% !important;
    }
  }
}
